name: CI/CD - Docker Next.js App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container: ghcr.io/railwayapp/cli:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Railway
        # Specify the service name explicitly
        run: railway up --detach --service docker-next-practice
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}